
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

div.categories {
    margin: 0 auto;
}

div.categories ul{
    position: relative;
}

div.categories ul li{
    display: inline-block;
    white-space: nowrap;
    text-align: center;
    border: 1px solid black;
    margin: 2px;
}

.icon{
    max-width: 100px;
}

.product{
    max-width: 33%;
    float: left;
    height: 400px;
    text-align:center;
}

.img{
    margin: 0 auto;
    height:300px;
}
.img img{
    max-width: 60%;
}